body {
  margin: auto 0;
  background-color: black;
}
button {
  align-items: center;
  justify-content: center;
  /* margin-left: 50%;
  margin-top: 20%; */
}
h2 {
  text-decoration: underline;
  font-size: 1.3em;
}

.hide {
  display: none;
}
.hoverinfo {
  font-family: serif;
}

@media only screen and (min-width: 1200px) {
  /* #mapContainer {
    max-width: 60%;
    max-height: 60%;
    margin: 0 auto;
  } */
}

#mapContainer {
  max-width: 70%;
  max-height: 70%;
  margin: -10% 0% 0% 16.5%;
  padding: 0 0.1vh 0 0.1vh;
}
#case-number {
  color: red;
  font-size: 1.2em;
}
#percent-number {
  color: purple;
  font-size: 1.2em;
}
#case-title {
  font-weight: bold;
  font-size: 1em;
}
#percent-title {
  font-weight: bold;
  font-size: 1em;
}
